@import 'antd/dist/antd.css';
  .container {
    position: relative;
	width: 40%;
	border: 2px solid blue;	
  }
  img {
     width: 100%;
	 
  }
  button{
    position: absolute;
	padding: 16px;
	background-color: green;
	border-radius: 16px;
	bottom: 10px;
	left: 200px;
	width: 100px;
  }